body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffff0;
}
.header {
    background-color:#333333;
    color: white;
    font-size: 20px;
    line-height: 80px;
    height: 80px;
    padding-left: 30px;
}
.footer {
    background-color:#333;
    font-size: 14px;
    font-style: italic;
    color: #888;
    font-weight: normal;
    text-align: right;
    height: 30px;
    padding-right:20px;
    line-height:30px; 
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.header .language {
    position:absolute;
    right: 30px;
    top: 0px;
}

.wrapper {
    background:#333;
	width: 150px;
	height: 440px;
	border-radius: 10px;
	font-size: 70px;
	text-align:center;
	padding: 1px 0;
	border: 6px solid #000;
	margin: auto;
}
.circle {
	background:#666;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-left: 15px;
	margin-top: 20px;
	line-height: 120px;

}

.circleBGColor1 {
	background-color: #f00;
    border-color: #f00;
}
.circleBGColor2 {
	background-color: #ff0;
}
.circleBGColor3 {
	background-color: #0f0;
}